$body-bg: #D6EEFF;
$primary: #FC7F03;
$secondary: #6264A7;

$input-bg: #D6EEFF60;
$form-label-font-weight: bold;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.scss';

@media only screen and (min-height: 500px) {
  .login {
    margin-top: 30vh !important;
  }
}

#root {
  padding-bottom: 50px;
}

.spinner-overlay {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($light, 0.8);
}

.form-dropdown {
  background-color: $input-bg !important;
  min-height: $input-height;
  border: $input-border-width solid $input-border-color !important;
}

.navbar {
  padding: 0;
}

.logo.navbar-brand img {
  width: 40px;
  height: 40px;
}

.widget {
  border-width: medium !important;
}

.page-error {
  border-bottom-right-radius: 15px;
}

.page-header {
  height: 24px;
}

.page-action-wrapper {
  border-bottom-left-radius: 15px;
}

.page-action,
.widget-action {
  font-size: 20px;
  line-height: 0;
  color: $primary;
}

.page-action:hover {
  color: $light;
  text-shadow: 0 0 3px;
}

.widget-action:hover {
  color: $secondary;
  text-shadow: 0 0 3px;
  font-size: 24px;
}

.nav-link.active {
  font-weight: bolder;
}

.username-header a.nav-link {
  color: $primary !important;
}

.username-header .dropdown-menu {
  background-color: $dark;
}

.username-header .dropdown-item {
  color: $light;
}

.username-header .dropdown-item:hover {
  background-color: $gray-800;
}

.scrollable-table thead th {
  position: sticky;
  top: 0;
}

.wh-1 {
  height: 400px;
}

.wh-2 {
  height: 400px;
  @media (min-width: 1200px) {
    height: 800px;
  }
}

.widget-6 {
  @extend .col-12;
  @extend .col-sm-12;
  @extend .col-md-11;
  @extend .col-lg-10;
  @extend .col-xl-6;
  @extend .col-xxl-6;
}

.widget-4 {
  @extend .col-12;
  @extend .col-sm-11;
  @extend .col-md-9;
  @extend .col-lg-8;
  @extend .col-xl-4;
  @extend .col-xxl-5;
}

.widget-8 {
  @extend .col-12;
  @extend .col-sm-11;
  @extend .col-md-9;
  @extend .col-lg-8;
  @extend .col-xl-8;
  @extend .col-xxl-7;
}

.form-row-label {
  @extend .col-12;
  @extend .col-sm-10;
  @extend .col-md-6;
  @extend .col-lg-5;
  @extend .col-xl-6;
  @extend .col-xxl-5;
}

.form-row-control {
  @extend .col-12;
  @extend .col-sm-10;
  @extend .col-md-6;
  @extend .col-lg-5;
  @extend .col-xl-6;
  @extend .col-xxl-6;
}

.icon-button {
  cursor: pointer;
  -webkit-text-stroke: 1px;
}

.input-error {
  display: none;
  color: $danger;
}

.has-error .input-error {
  display: block;
}

.has-error input {
  border: 1px solid $danger;
  color: $danger;
}

.widget-header {
  height: 32px;
}

.widget-header .dropdown button {
  padding: 0 10px;
}

.accordion-list .accordion-button {
  box-shadow: none;
  background-color: $light;
  color: $dark;
  padding: .25rem;
  border-radius: $border-radius;
  height: 32px;
}

.accordion-list .simple-list-item {
  cursor: pointer;
  border-radius: $border-radius;
  height: 32px;
}

.accordion-list .accordion-button:hover,
.accordion-list .simple-list-item:hover {
  background-color: rgba($primary, .3);
}

.accordion-list .active-item {
  font-weight: bold;
  color: $primary;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

tr.active {
  background-color: lighten($primary, 30%);
  --bs-table-striped-color: lighten(red, 30%);
}

.footer {
  position:fixed;
  left:0;
  bottom:0;
  right:0;
  font-size: 11px;
}

//.default-widget {
//  width: 400px;
//  height: 400px;
//}
//
//.tall-widget {
//  width: 400px;
//  height: 600px;
//}
//
//.wide-widget {
//  width: 600px;
//  height: 400px;
//}
